.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #3182d3, #045CBD);
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: blur(10px);
    width: 300px;
    height: 300px;
    padding-top: 60px;
    border-radius: 10px;
  }

  .logo{
    font-weight: 500;
    font-size: 25px;
    color: white;
    cursor: pointer;
  }

  .lInput{
    height: 30px;
    padding: 10px;
    border-radius: 10px;
  }
  .newButton{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
  }

  .error {
    margin-left: 40px;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }